/* 배너형식 스와이퍼 커스텀 */
.banner_swiper .swiper-pagination {
    position: absolute;
    left: inherit;
    right: 15px !important;
    bottom: 15px !important;
    z-index: 99;
    padding: 0 1rem;
    border-radius: 15px;
    font-weight: 600;
    width: fit-content;

}

/* md 이상일 때는 16px로 */
@media (max-width: 719px) {
    .banner_swiper .swiper-pagination {
        font-size: 14px;
    }
}

.partner_swiper .swiper-pagination {
    background-color: var(--color-primary);
    color: #fff;
}

.event_swiper .swiper-pagination {
    background-color: transparent;
    color: #fff;
}

.intro_swiper .swiper-button-prev, .swiper-button-next {
    color: var(--primary) !important;
}

.intro_swiper .swiper-button-next {
    right: 10px !important;
}

.intro_swiper .swiper-button-prev {
    left: 10px !important;
}

@media (width >= 720px) {
    .intro_swiper .swiper-button-next {
        right: 160px !important;
    }

    .intro_swiper .swiper-button-prev {
        left: 160px !important;
    }

    .intro_swiper .swiper-button-prev, .swiper-button-next {
        color: #fff !important;
    }
}

.intro_swiper .swiper-pagination {
    bottom: auto !important;
    top: 5px !important;
}

.intro_swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: #d9d9d9;
    opacity: 1
}

.intro_swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 35px;
    background-color: #ff6900;
    border-radius: 30px;
}

.intro_swiper img {
    margin: 0 auto;
}

.intro_swiper .subImg {
    opacity: 0;
    transform: translateY(30px); /* 아래에서 위로 올라오는 효과 */
    transition: opacity 1s ease, transform 1s ease; /* opacity와 translate 애니메이션 적용 */
}

/* 슬라이드가 활성화되었을 때 애니메이션을 시작 */
.intro_swiper .swiper-slide-active .subImg {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 돌아오며 나타나는 효과 */
}

.home_banner .swiper-slide {
    width: fit-content !important;
}

@keyframes slideFadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: slideFadeUp 0.6s ease-out forwards;
}